.elementor-12 .elementor-element.elementor-element-5dcce16>.elementor-element-populated {
    box-shadow: 13px 0px 10px 0px rgba(12.00000000000003, 12.00000000000003, 12.00000000000003, 0.48);
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-49d5271 .elementor-spacer-inner {
    height: 100px;
}

.elementor-12 .elementor-element.elementor-element-78ef063 .elementor-testimonial__text {
    color: var( --e-global-color-6ecc7ed);
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
}

.elementor-12 .elementor-element.elementor-element-78ef063 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-2f6fe15.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-2f6fe15.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-e6e03ea {
    text-align: justify;
    color: var( --e-global-color-6ecc7ed);
    font-family: var( --e-global-typography-b8ea46c-font-family), Sans-serif;
    font-size: var( --e-global-typography-b8ea46c-font-size);
    font-weight: var( --e-global-typography-b8ea46c-font-weight);
    line-height: var( --e-global-typography-b8ea46c-line-height);
    letter-spacing: var( --e-global-typography-b8ea46c-letter-spacing);
}

.elementor-12 .elementor-element.elementor-element-e6e03ea>.elementor-widget-container {
    margin: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-12 .elementor-element.elementor-element-effc5e0 .elementor-button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #fa394a;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 25px 0px 25px;
}

.elementor-12 .elementor-element.elementor-element-effc5e0 .elementor-button:hover,
.elementor-12 .elementor-element.elementor-element-effc5e0 .elementor-button:focus {
    color: #fed1d4;
    background-color: #fa394a;
}

.elementor-12 .elementor-element.elementor-element-effc5e0 .elementor-button:hover svg,
.elementor-12 .elementor-element.elementor-element-effc5e0 .elementor-button:focus svg {
    fill: #fed1d4;
}

.elementor-12 .elementor-element.elementor-element-effc5e0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-6157b34:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-6157b34>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fa394a;
}

.elementor-12 .elementor-element.elementor-element-6157b34 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-12 .elementor-element.elementor-element-6157b34>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-3ac770e>.elementor-widget-container {
    margin: 50px 0px 50px 0px;
}

.elementor-12 .elementor-element.elementor-element-6eab438>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-12 .elementor-element.elementor-element-d712d3d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-bd03a0a:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-bd03a0a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #253d5f;
}

.elementor-12 .elementor-element.elementor-element-bd03a0a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 25px 45px 25px;
}

.elementor-12 .elementor-element.elementor-element-bd03a0a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-505f612 .elementor-button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #fa394a;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 25px 0px 25px;
}

.elementor-12 .elementor-element.elementor-element-505f612 .elementor-button:hover,
.elementor-12 .elementor-element.elementor-element-505f612 .elementor-button:focus {
    color: #fed1d4;
    background-color: #fa394a;
}

.elementor-12 .elementor-element.elementor-element-505f612 .elementor-button:hover svg,
.elementor-12 .elementor-element.elementor-element-505f612 .elementor-button:focus svg {
    fill: #fed1d4;
}

.elementor-12 .elementor-element.elementor-element-505f612>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-2843c6f:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-2843c6f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00adeb;
}

.elementor-12 .elementor-element.elementor-element-2843c6f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-12 .elementor-element.elementor-element-2843c6f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-d24e0b6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-12 .elementor-element.elementor-element-e6e03ea {
        font-size: var( --e-global-typography-b8ea46c-font-size);
        line-height: var( --e-global-typography-b8ea46c-line-height);
        letter-spacing: var( --e-global-typography-b8ea46c-letter-spacing);
    }
}

@media(max-width:767px) {
    .elementor-12 .elementor-element.elementor-element-e6e03ea {
        font-size: var( --e-global-typography-b8ea46c-font-size);
        line-height: var( --e-global-typography-b8ea46c-line-height);
        letter-spacing: var( --e-global-typography-b8ea46c-letter-spacing);
    }
}